.matcherEditMain {
  flex-grow: 1;
  display: flex;
  align-self: end;
  position: relative;
}

.matcherEditMain input {
  border: none;
  flex-grow: 1;
}

.matcherEditMain input:focus {
  outline: none;
}

.editMatcherHiddenText {
  position: absolute;
  visibility: hidden;
}