.matcherViewMain {
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  background: var(--smartSearchBackgroundColor, rgb(255, 255, 255));
}

.matcherViewToolTip {
  position: absolute;
  left: 0px;
  width: max-content;
  background: var(--smartSearchBackgroundColor, rgb(255, 255, 255));
  border: var(--smartSearchOptionsBorder, 1px solid rgb(204, 204, 204));
  border-radius: 4px;
}

.deleteIcon {
  color: var(--smartSearchIconColor, black);
  height: 100%;
}

.deleteIcon:hover {
  color: var(--smartSearchIconHoverColor, rgb(140, 140, 140));
}